<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Live Systems Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Live Systems Project">
    <meta name="author" content="Live Systems Project <debian-live@lists.debian.org>">

    <!-- Le styles -->
    <link href="/stuff/spacelab/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .label a:active, .label a:hover, .label a:link, .label a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    </style>
    <link href="/stuff/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/stuff/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/stuff/images/logo-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/stuff/images/logo-114.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/stuff/images/logo-72.png">
                    <link rel="apple-touch-icon-precomposed" href="/stuff/images/logo-57.png">
                                   <link rel="shortcut icon" href="/stuff/images/logo-16.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Live Systems</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http://live-build-cgi.debian.net/">Build</a></li>
              <li class="active"><a href="http://live-systems.org/">WWW</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

<TMPL_VAR CONTENT>

      <hr>

      <footer>
        <p><div class="muted">2006-2013 <a class="muted" href="mailto:debian-live@lists.debian.org?subject=Live%20Systems:%20Feedback">Live Systems Project</a> <a class="muted pull-right" href="/project/legal/">Legal Information</a></div></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript -->
    <script src="/stuff/jquery/jquery.min.js"></script>
    <script src="/stuff/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
