<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Live Systems Project">
    <meta name="author" content="Live Systems Project <debian-live@lists.debian.org>">
    <link rel="shortcut icon" href="/stuff/logo_32x32.png">

    <title>Live Systems Project</title>

    <!-- Bootstrap core CSS -->
    <link href="/stuff/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stuff/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stuff/bootstrap/navbar.css" rel="stylesheet">
    <link href="/stuff/bootstrap/label.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/stuff/html5shiv/html5shiv.min.js"></script>
      <script src="/stuff/respond/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><strong>Live</strong> Systems</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://build.live-systems.org/">Build</a></li>
            <li class="active"><a href="/">WWW</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

<TMPL_VAR CONTENT>

      <hr />

      <footer>
        <p><div class="text-muted">2006-2015 <a class="text-muted" href="mailto:debian-live@lists.debian.org?subject=Live Systems Project:%20Feedback">Live Systems Project</a> <a class="text-muted pull-right" href="/project/legal/">Legal Information</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/stuff/jquery/jquery.min.js"></script>
    <script src="/stuff/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stuff/bootstrap/table.js"></script>
  </body>
</html>
